@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ======
  globals 
   ====== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  --primary-color: hsl(198, 21%, 12%);
  --primary-color-900: hsl(198, 21%, 8%);
  --secondary-color: hsl(201, 10%, 27%);
  --secondary-color-1100: hsl(201, 10%, 85%);
  --secondary-color-900: hsl(201, 10%, 55%);
  --secondary-color-700: hsl(201, 10%, 36%);
  --secondary-color-500: hsl(201, 10%, 35%);
  --accent-color: hsl(283, 60%, 37%);
  --accent-color-900: hsl(283, 76%, 50%);
  --main-font: 'Montserrat';

  min-height: 100%;
  font-family: var(--main-font), sans-serif;
  background-image: linear-gradient(to right, #182125, #1d262a, #232a2e, #282f33, #2e3438);
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 20px;
}

legend {
  font-family: var(--main-font), sans-serif;
  font-size: clamp(1.125em, 5vw + .5em, 2em); 
  font-weight: bold;
}

button {
  display: inline-block;
  background: var(--accent-color);
  color: black;
  border: none;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

select {
  width: 100%;
  font-family: var(--main-font), sans-serif;
  font-size: 1.5rem;
  background-color: var(--secondary-color-700);
  border: 1px solid var(--secondary-color-500);
  border-radius: 15px;
  padding: 3px;
  text-align-last: center;
}

select:hover {
  background-color: var(--secondary-color-500);
}

select:focus {
  background-color: var(--secondary-color-500);
}

h1, h2, h3 {
  text-align: center;
}

form {
  margin: 3.5em 0em;
}

header > * {
  pointer-events: none;
}

input:not([type="checkbox"]) {
  height: 40px;
  width: 100%;
  margin: 5px;
  padding: 3px 7px;
  font-size: 1.25rem;
  font-family: var(--main-font), sans-serif;
  text-align: center;
  background-color: var(--secondary-color-700);
  border: 1px solid rgb(0, 0, 0, 30%);
  border-radius: 10px;
}

input::placeholder {
  color: black;
  opacity: .65;
  font-family: var(--main-font), sans-serif;
  font-size: 1.25rem;
}

/* ======
  styles 
   ======  */

#header-title {
  color: var(--secondary-color-1100);
}

input.big-checkbox {
  width: 2em;
  height: 2em;
}

.btn-square {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 7px;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
  box-shadow: 2px 2px 3px var(--primary-color-900);
}

.btn-circle {
  border-radius: 50%;
  height: 50px;
  width: 50px; 
  font-size: 2rem;
  font-family: inherit;
  box-shadow: 2px 2px 3px var(--primary-color-900);
}

#legend-title {
  color: var(--secondary-color-900);
}

#desc-tooltip {
  width: 20em;
  display: block;
  overflow-wrap: break-word;
  font-size: large;
}

#extra-tooltip {
  width: 15em;
  display: block;
  overflow-wrap: break-word;
  font-size: large;
  text-align: center;
}

.fade-in {
  transition: opacity 0.5s ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 2s ease;
}

.counter-and-label-grid {
  display: grid;
  grid-template-columns: 8rem 1fr;
  column-gap: 1rem;
  align-items: center;
  justify-items: center;
}

.counter-grid {
  display: grid;
  grid-template-columns: 1.5rem 5rem 1.5rem;
  justify-items: stretch;
}

.counter-grid p {
  justify-self: center;
  padding-left: .75rem;
  padding-right: .75rem;
  font-size: 1.75rem;
}

#rounded-rectangle {
  border: 1px solid var(--secondary-color-900);
  border-radius: 2rem;
}

.as-text {
  background: none;
  font-size: 1rem;
}

#disable-button {
 color: rgba(0, 0, 0, 0.3);
}

.clickable {
  cursor: pointer !important;
}

/* ======
  base tracker 
   ======  */

.tracker-grid {
  display: grid;
  grid-auto-flow: row;
  padding-left: 2em;
  padding-right: 2em;
  grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
  gap: 30px 60px;
  align-items: center;
}

.add-tracker {
  margin: auto;
  padding: 5em;
}

.fieldset-content {
  overflow: auto;
  min-height: 300px;
  border: 2px solid var(--secondary-color-700);
  padding: 40px 30px 30px 30px;
  border-radius: 15px;
  background-color: var(--secondary-color);
  box-shadow: 4px 4px 15px var(--primary-color-900);
}

.form-control {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: stretch;
}

.form-control > * {
  flex: 1;
  min-width: 10rem;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.add-tracker-prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 10px 10px;
  background-color: var(--secondary-color-700);
  border: 2px solid var(--secondary-color-900);
  border-radius: 5px;
}

.add-tracker-button-container {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}

.add-tracker-button-container > * {
  flex-grow: 1;
  flex-basis: 30%;
}

/* ======
  health tracker 
   ======  */

.health-content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.5em;
  grid-template-columns: 1fr 2em 3.5em 3.5em 2em 1fr;
  column-gap: 0.75em;
}

#health {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  align-self: center;
}

#health-plus {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

#health-minus {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#change-max-health {
  grid-column: 2 / 6;
  grid-row: 3 / 4;
}

#health-change-pos {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
  justify-self: left;
  align-self: center;
  font-size: 1.5rem;
}

#health-change-neg {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: right;
  align-self: center;
  font-size: 1.5rem;
}

#current-health-healthy {
  color: green
}

#current-health-caution {
  color: yellow
}

#current-health-danger {
  color: red
}

/* ======
  coin tracker 
   ======  */

.manipulate-coins {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-subtract {
  display: flex;
  justify-content: center;
}
 
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.coin-setters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: stretch;
}

.coin-setters > * {
  min-width: 10rem;
  width: 50%;
  display: inline-flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.coin-setters > * input {
  width: 50%;
  margin-right: .5rem;
}

/* .coin-setter {
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */

/* .coin-setter input {
  width: 50%;
  margin-right: .5rem;
} */

.platinum-coin {
  color: #a8a7ae
}

.gold-coin {
  color: #d4af37
}

.silver-coin {
  color: #e5e4e2
}

.copper-coin {
  color: #d1793b
}

/* ======
  spell tracker 
   ======  */

.class-selector {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 1em;
  align-items: center;
}

.class-selector > * {
  flex: 1;
  min-width: 10rem;
}

.slots-grid {
  margin: 2em 0em;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1em;
  column-gap: 1em;
}

.level-slot {
  display: flex;
  flex-flow: row wrap;
  gap: clamp(.125rem, 3vw + .125rem, 1.25rem);
  justify-content: center;
}

.spell-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 2em;
  row-gap: 2em;
  margin-top: 2em;
}

.spell-card {
  cursor: pointer;
  user-select: none;
}

.info-container {
  display: flex;
}

.info-container-left {
  margin-left: auto;
}

#level {
  margin-bottom: 1rem;
}

[type="checkbox"] {
  position: relative;	
  left: 0;	
  opacity: 1;
}

/* Box aspect */
.level-slot input[type="checkbox"]::before {
  content: '';	
  position: absolute;	
  left: 0;	
  top: 0;	
  width: 2em;	
  height: 2em;	
  border: 1px solid #aaa;	
  background: var(--secondary-color-1100);
  border-radius: .2em;	
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);	
  transition: all .275s;
}

/* Check aspect */
.level-slot input[type="checkbox"]::after {
  content: '✕'; 
  position: absolute;	
  top: .55em;	
  left: .125em;	
  font-size: 2em;	
  font-weight: bold;
  color: var(--accent-color-900);
  line-height: 0;	
  transition: all .2s; 
}

/* Unchecked aspect */
.level-slot input[type="checkbox"]:not(:checked)::after {
  opacity: 0;	
  transform: scale(0) rotate(45deg);
}

/* Checked aspect */
.level-slot input[type="checkbox"]:checked::after {	
  opacity: 1;	
  transform: scale(1) rotate(0);
}

#player-info-container {
  position: relative;
}

#player-info {
  position: absolute;
  display: inline-block;
  text-align: center;
  right: 0;
  font-weight: bold;
}

#player-info button {
  width: 1rem;
  height: 1rem;
  border-radius: 3px;
}

.hide {
  display: none;
}

/* ======
  ability tracker 
   ======  */

.ability-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  margin-top: 3em;
  align-items: center;
}

.ability-card {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 6em 1fr;
  column-gap: 1em;
  align-items: center;
  justify-self: left;
}

.check-grid {
  display: grid;
  grid-template-columns: 2em 2em 2em;
  grid-auto-flow: row;
  row-gap: 6px;
}

/* Box aspect */
.check-grid input[type="checkbox"]::before {
  content: '';	
  position: absolute;	
  left: 0;	
  top: 0;	
  width: 2em;	
  height: 2em;	
  border: 1px solid #aaa;	
  background: var(--secondary-color-1100);	
  border-radius: .2em;	
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);	
  transition: all .275s;
}

/* Check aspect */
.check-grid input[type="checkbox"]::after {
  content: '✕'; 
  position: absolute;	
  top: .55em;	
  left: .125em;	
  font-size: 2em;	
  font-weight: bold;
  color: var(--accent-color-900);
  line-height: 0;	
  transition: all .2s; 
}

/* Unchecked aspect */
.check-grid input[type="checkbox"]:not(:checked)::after {
  opacity: 0;	
  transform: scale(0) rotate(45deg);
}

/* Checked aspect */
.check-grid input[type="checkbox"]:checked::after {	
  opacity: 1;	
  transform: scale(1) rotate(0);
}

/* ======
  kill tracker 
   ======  */

@media (max-width: 780px){
  .tracker-grid {
    grid-template-columns: 1fr;
  }

  .slots-grid {
    grid-template-columns: 1fr 1fr;
  }
}