@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #424874;
}

#tooltip {
  width: 20em;
  display: block;
  overflow-wrap: break-word;
  font-size: large;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 20px;
}

.fieldset-content {
  max-width: 650px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 2px solid #A6B1E1;
  padding: 40px 30px 30px 30px;
  border-radius: 5px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(5, 90px);
  gap: 5px;
  margin-top: 20px
}

.tracker-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
}

.ability-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 5em 1fr;
  column-gap: 2em;
  row-gap: 2em;
  margin-top: 2em;
  float: left;
  align-items: center;
}

.kill-card {
  display: flex;
  align-items: center;
}

.check-grid {
  display: grid;
  grid-template-columns: 2em 2em;
  grid-auto-flow: row;
  row-gap: 6px;
}

.spell-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  margin-top: 2em;
}

.spell-card {
  border: #cacfd6;
  border-width: 2px;
}

.class-selector {
  display: flex;
  justify-content: center;
  column-gap: 1em;
  align-items: center;
}

.class-selector input {
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  text-align: center;
}

.abs {
  position: absolute;
  left: 650px;
  bottom: 700px;
}

.slots-grid {
  margin: 2em 0em;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1em;
}

.level-slot {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#level {
  margin-bottom: 1rem;
}

input.big-checkbox {
  width: 2em;
  height: 2em;
  margin-left: 4px;
  margin-right: 4px;
}

.center {
  width: 100%;
  height: 7em;
  position: relative;
}

.center-child {
  margin: auto;
}

legend {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em; 
  font-weight: bold;
}

button {
  display: inline-block;
  background: #d6e5e3;
  color: #d6e5e3;
  border: none;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

.btn-square {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
}

.btn-circle {
  border-radius: 50%;
  border-color: #424874;
  border-width: 2px;
  height: 50px;
  width: 50px; 
  font-size: 20px;
  font-family: inherit;
}

select {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  background-color: #424874;
  border: 0px;
  padding-top: 6px;
  padding-bottom: 3px;
  text-align-last: center;
}

select:hover {
  background-color: #373c61;
}

select:focus {
  background-color: #373c61;
}

h2 {
  text-align: center;
}

.add-tracker {
  margin: auto;
  padding: 5em;
}

.manipulate-coins {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em 5em;
}

#coinpicker {
  width: 10%;
  position: relative;
  margin-left: 2em;
}

.add-subtract {
  display: flex;
  justify-content: center;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-control input {
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  text-align: center;
}

.form-control span {
  margin-right: 10px;
}

.next-to {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.under {
  display: flex;
  justify-content: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#coin-setter {
  width: 15%;
}

#legend-title {
  color: #cacfd6;
}

#health {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

form {
  margin: 3.5em 0em;
}

@media (max-width: 100em){
  .tracker-grid{
    grid-auto-flow: column;
    grid-template-rows: repeat(10, 1fr);
  }
}